<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yl.module_webview">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".v1.WebViewActivity"/>

        <activity android:name=".v2.WebViewActivity_new"/>
    </application>
</manifest>
